JARVIS_SALE_ENABLED=false
JARVIS_SUI_NETWORK=testnet
JARVIS_SUI_RPC_URL=
JARVIS_PACKAGE_ID=
JARVIS_COIN_TYPE=
JARVIS_SALE_OBJECT_ID=
JARVIS_TREASURY_ADDRESS=
JARVIS_USDC_COIN_TYPE=
JARVIS_USDT_COIN_TYPE=
JARVIS_EMBEDDED_WALLET_PROVIDER=
JARVIS_RATE_LIMIT_NAMESPACE=jarvis-sale
JARVIS_RATE_LIMIT_BACKEND=memory
